In [1]:
################################################################################                                                                                                                                                              
################################################################################
#
# FILE: rest_estab_tables.ipynb
#
# BY: Dmitry Sedov 
#
# CREATED: Thu Feb 6 2020
#
# DESC: This file contains the code that creates two tables: 
#       1) restaurants
#       2) establishments
#
# EXEC: 
#      
################################################################################
################################################################################

In [2]:
################################ Libraries #####################################

import sqlalchemy as db

################################################################################

In [3]:
############################## SQL statements ##################################

# Create the restaurants table
create_all_restauarants_table_statement = """
CREATE TABLE all_restaurants AS (
    SELECT 
        p.*,
        g.latitude,
        g.longitude,
        g.includes_parking_lot,
        g.is_synthetic,
        g.area_m2,
        g.cbg,
        g.cbsa,
        m.y_id,
        y.categories,
        y.price,
        y.rating,
        y.review_count,
        y.phone AS yelp_phone
    FROM
        pois AS p
    LEFT JOIN 
        geometry_pois AS g
    ON 
        p.sname_place_id = g.sname_place_id
    LEFT JOIN
        sg_yelp_matching AS m
    ON 
        p.sname_place_id = m.sname_place_id
    LEFT JOIN
        all_yelp_restaurants AS y
    ON 
        m.y_id = y.id
    WHERE
        p.naics_code IN (722511, 722513)
);
"""


create_all_establishments_table_statement = """
CREATE TABLE all_establishments AS (
    SELECT 
        p.*,
        g.latitude,
        g.longitude,
        g.includes_parking_lot,
        g.is_synthetic,
        g.area_m2,
        g.cbg,
        g.cbsa
    FROM
        pois AS p
    LEFT JOIN 
        geometry_pois AS g
    ON 
        p.sname_place_id = g.sname_place_id
    WHERE
        p.naics_code NOT IN (722511, 722513)
);
"""

################################################################################

In [4]:
engine = db.create_engine('postgresql://{user}:{user_pass}@{host}/{dataname1}')
connection = engine.connect()

In [5]:
connection.execute(create_all_restauarants_table_statement)
connection.execute(create_all_establishments_table_statement)

In [6]:
engine.dispose()